/* Common css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 96%;
    max-width: 1170px;
    margin: 0 auto;
}
.main-container {
    width: 96%;
    max-width: 1140px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}
section {
    margin-top: 130px;
}
.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 30px;
}
.section-des {
    color: #757575;
    text-align: center;    
    font-size: 18px;
    line-height: 30px;
}
.btn-primary {
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    display: inline-block;
    text-decoration: none;
}
.text-primary {
    color: #FD6E0A;
}
/* Header Style */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.top-nav h2 {
    color: #181818;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}
.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-menu li {
    margin-left: 50px;
}
.nav-menu li a {
    color: #474747;
    text-decoration: none;
    line-height: 27px;
}

/* Banner style */
.banner {
    display: flex;
    gap: 160px;
    align-items: center;
    margin-top: 130px;
}
.banner-text h2 {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 5px;
}
.banner-text h1 {
    color: #181818;
    font-size: 85px;
    line-height: 116px;
    margin-bottom: 20px;
}
.banner-text p {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-btn a {
    display: inline-block;
    margin-right: 30px;
}
.banner-btn .btn-cont {
    color: #FD6E0A;
    background: #FFF8F3;
    border: 1px solid #FD6E0A;
    border-radius: 4px;
}
.banner-image img {
    display: block;
}

/* Main Area Style */

/* About area style */
.about-area {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 135px;
}
.my-info {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.info-item {
    text-align: center;
}
.info-title,
.info-des {
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}

.info-des {
    color: #474747;
    font-weight: 700;
    margin-top: 2px;
}

/* Skills Area Style */
.skill-area {
    background: #fff;
}
.skill-container .section-des {
    width: 80%;
    margin: 0 auto;
}
.skills {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.skill-item {
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-item img {
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
}
.skill-title {
    color: #181818;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 27px;
}
.skill-des {
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}